:root{
    --green: rgb(27 255 27);
}

@font-face {
    font-family: terminal;
    src: url('../VT323-Regular.ttf');
}

main {
    font-family: terminal;
    margin-top: 40px;
    height: 720px;
    width: 1080px;
    /* background: red; */
}