main {
    margin-top: 40px;
    height: 720px;
    width: 1024px;
    /* background: red; */
}

.game {
    position: relative;
    height: 100%;
    width: 100%;
    /* background: url('../img/background.png'); */
    /* background: pink; */
    background-size: cover;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.keyContainer {
    width: 100%;
    height: 30px;
    background: yellow;
    position: absolute;
    top: -30px;
    display: flex;
    justify-content: space-between;
}

.keySpawner {
    position: relative;
    -webkit-box-shadow: inset 0px 0px 0px 1px black;
    -moz-box-shadow: inset 0px 0px 0px 1px black;
    box-shadow: inset 0px 0px 0px 1px black;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 100%;
    /* background: lightskyblue; */
    font-size: 20px
}